# Build directory for read-the-docs
/docs/_build/

*.patch
demo/*.jar
demo/utils.pyc

.envrc
venv
sample_judgements_wfeatures.txt
ml-20m/
ml-20m.zip
classes/
__pycache__/
RankLib.jar
tmdb.json
model.txt


.idea/
.gradle/
build/
out/
*.swp
*-execution-hints.log
*-execution-times.log

// ignore the downloaded model files in git
src/test/resources/models/

// intellij
*.iml
*.ipr
*.iws

// eclipse
.project
.classpath
eclipse-build
*/.project
*/.classpath
*/eclipse-build
.settings
!/.settings/org.eclipse.core.resources.prefs
!/.settings/org.eclipse.jdt.core.prefs
!/.settings/org.eclipse.jdt.ui.prefs
