{
    "query": {
        "multi_match": {
           "query": "{{keywords}}",
           "type": "cross_fields",
           "fields": ["overview", "genres.name", "title", "tagline", "belongs_to_collection.name", "cast.name", "directors.name"],
           "tie_breaker": 1.0
        }
    }
}
